.wrapSections {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

h4 {
	height: 20vh;
	text-align: center;
}
.wrapOne {
	width: 100vw;
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.wrapTwo {
	width: 100vw;
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	margin: 0;
	padding: 0;
}
.textAboutOne {
	width: 40vw;
	height: 20vh;
}

.textAboutTwo {
	width: 70vw;
	height: 20vh;
}
.WildCircle {
	width: 20vw;
	height: 20vw;
	border-radius: 100%;
}

/* smartphone */

@media screen and (min-width: 300px) and (max-width: 767px) {
	.wrapOne {
		display: flex;
		flex-direction: column;
		justify-content: center space-around;
		order: 0;
		margin-top: 20px;
	}
	.WildCircle {
		width: 30vw;
		height: 30vw;
		order: -1;
		padding: 5px;
		margin-bottom: 5px;
	}
	.wrapTwo {
		flex-direction: column;
		justify-content: center;
	}

	h4 {
		width: 20vw;
		height: 10vw;
		margin: 0;
		padding: 10px;
	}
	.textAboutOne {
		width: 70vw;
		height: 20vh;
	}
}
