h2{
    font-size: 20px;
    margin-bottom: 0%;
}
p{
    margin-block-start: 0%;
    font-size: 15px;
}
article{
    margin: 20px;
}
/* smartphone */
@media screen and (min-width: 300px) and (max-width: 768px) {
    article{
        margin: 8px;
    }
    p{
        font-size: 12px;
    }
}
/* smartphone landscape */
@media screen and (max-width: 769px) {
    article{
        margin: 12px;
    }
    p{
        font-size: 12px;
    }
}

/* portrait tablet */
@media screen and (min-width: 769px) and (max-width: 992px) {
    article{
        margin: 18px;
    }
    p{
        font-size: 15px;
    }
}

/* landscape tablet display */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    article{
        margin: 20px;
    }
    p{
        font-size: 18px;
    }
}

/* Desktop screen display */
@media screen and (min-width: 1200px) {
    article{
        margin: 20px;
    }
    p{
        font-size: 18px;
    }
}
