main {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.mainWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}
.contactTitle {
	text-align: center;
	font-size: 3vw;
}

.followTitle {
	text-align: center;
	font-size: 3vw;
	margin: 0;
}

.circleContact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40vw;
	height: 60vw;
}

::-webkit-input-placeholder {
	color: #696969;
	font-style: italic;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50vw;
	height: 40vw;
}

.textContact {
	margin: 1vw;
	padding: 1vw;
	font: italic;
	width: 20vw;
	height: 1vw;
	border-radius: 5px;
	border: none;
}

.messageContact {
	margin: 1vw;
	padding: 1vw;
	font: italic;
	width: 20vw;
	height: 5vw;
	border-radius: 5px;
	border: none;
	resize: none;
}

.submitContact {
	background-color: #696969;
	color: white;
	font-style: bold;
	border-radius: 5px;
	width: 10vw;
	height: 3vw;
	margin: 1vw;
	border: none;
}

.submitContact:hover {
	color: salmon;
}

input[type='text']:focus {
	background-color: salmon;
	box-shadow: none;
}
input[type='email']:focus {
	background-color: salmon;
}
input[type='name']:focus {
	background-color: salmon;
}

textarea[type='text']:focus {
	background-color: salmon;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.socialMedia {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40vw;
	height: 60vw;
}

.socialMedia > ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40vw;
	height: 40vw;
	margin: 0;
}

.social-icons {
	list-style-type: none;
	padding: 0;
}
.social-icons > li {
	list-style-type: none;
	font-size: 3vw;
	margin: 0.4vw;
	padding: 0.4vh;
}

.social-icons > li > a {
	text-decoration: none;
	color: rgba(136, 131, 130, 0.85);
}

.license {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0px;
	width: 100vw;
	height: 2.5vw;
	color: white;
	background-color: #696969;
	padding: 0;
}

.license > li {
	list-style-type: none;
	font-size: 12px;
	color: white;
	padding: 3px;
}
.license > li > a {
	color: whitesmoke;
	text-decoration: none;
	padding: 5px;
}

.license > li > a:hover {
	color: salmon;
}

.social-icons > li > a:hover {
	color: salmon;
}
/* smartphone */

@media screen and (min-width: 300px) and (max-width: 767px) {
	.mainWrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0;
	}

	.contactTitle {
		font-size: 3vh;
	}

	.followTitle {
		font-size: 3vh;
	}

	.textContact {
		font-size: 1vh;
		width: 40vw;
		height: 5vw;
	}
	.messageContact {
		font-size: 1vh;
		width: 40vw;
		height: 15vw;
	}
	.submitContact {
		font-size: 1vh;
		width: 15vw;
		height: 5vw;
	}

	.circleContact {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 60vw;
		height: 50vh;
	}

	form {
		align-items: center;
		justify-content: center;
		width: 60vw;
		height: 35vh;
		margin: 0;
	}

	.socialMedia {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50vw;
		height: 30vh;
		margin-top: 5px;
	}

	.socialMedia > ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 60vw;
		height: 20vh;
		margin: 0;
	}
	.social-icons {
		display: flex;
		list-style-type: none;
		padding: 0;
	}

	.social-icons > li {
		list-style-type: none;
		padding: 2vw;
		font-size: 3vh;
	}
	footer {
		margin: 0;
	}
	.license {
		width: 100vw;
		height: 5vh;
		margin: 0;
	}
	.license > li {
		font-size: 3vw;
	}

	.license > li > a {
		font-size: 3vw;
	}
}
