.mainSectionImage {
	display: flex;
	flex-direction: column;
	height: auto;
}

.inOutImage {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 70vh;
	object-fit: cover;
	filter: saturate(2);
	-webkit-filter: saturate(2);
}

.inOutImage:hover{
	transition-timing-function: ease-in-out;
	transform:scale(1.09);
}


/* smartphone */

@media screen and (min-width: 300px) and (max-width: 767px) {
	.inOutImage {
		margin: 0;
		width: 100vw;
		height: 50vh;
		object-fit: cover;
		filter: saturate(2);
		-webkit-filter: saturate(2);
	}
}

/* portrait tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
}

/* landscape tablet display */
@media screen and (min-width: 993px) and (max-width: 1200px) {
}

/* Desktop screen display */
@media screen and (min-width: 1201px) {
}
