.imageContainer {
	display: flex;
	width: 100vw;
	height: auto;
	flex-direction: row;
	padding: 0;
	margin: 0;
	justify-content: center;
	align-items: center;
}

.mainImage {
	margin: 0;
	padding: 0;
	width: 50vw;
	height: 50vh;
}

.mainImage:hover {
	opacity: 0.5;
}

/* smartphone */

@media screen and (min-width: 300px) and (max-width: 767px) {
	.imageContainer {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		justify-content: center;
		align-items: center;
	}

	.mainImage {
		margin: 0;
		padding: 2px;
		width: 100vw;
		height: 50vh;
	}
}

/* portrait tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
}

/* landscape tablet display */
@media screen and (min-width: 993px) and (max-width: 1200px) {
}

/* Desktop screen display */
@media screen and (min-width: 1201px) {
}
