body {
	font-family: 'Roboto', sans-serif;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
header h1 {
	color: black solid;
	text-align: center;
}

a {
	text-decoration: none;
	color: rgb(97, 97, 97);
}

a:hover {
	color: salmon;
}
.mainContent {
	flex-grow: 1;
}

/* footer {
	flex-shrink: 0;
} */

.license {
	display: flex;
	flex-direction: row;
	padding: 5px;
	margin-bottom: 0px;
}

.license li {
	list-style-type: none;
	padding: 5px;
}

/* smartphone */

@media screen and (min-width: 300px) and (max-width: 767px) {
	header {
		display: flex;
	}

	.headerText {
		font-size: 20px;
		flex-wrap: wrap;
		text-align: center;
	}

	.license {
		font-size: 12px;
	}
}

/* portrait tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
	.headerText {
		font-size: 42px;
	}
}

/* landscape tablet display */
@media screen and (min-width: 993px) and (max-width: 1200px) {
	.headerText {
		font-size: 52px;
	}
}

/* Desktop screen display */
@media screen and (min-width: 1201px) {
	.headerText {
		font-size: 62px;
	}
}
