.welcomeContainer {
	display: flex;
	justify-content: center;
}

.welcomeText {
	margin: 10px;
	padding: 5px;
	font-size: 20px;
}

/* smartphone */

@media screen and (min-width: 300px) and (max-width: 767px) {
	.welcomeText {
		font-size: 12px;
	}
}

/* portrait tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
	.welcomeText {
		font-size: 18px;
	}
}

/* landscape tablet display */
@media screen and (min-width: 993px) and (max-width: 1200px) {
	.welcomeText {
		font-size: 20px;
	}
}

/* Desktop screen display */
@media screen and (min-width: 1201px) {
	.welcomeText {
		font-size: 20px;
	}
}
